Assignment-2/assignment2-commons/.idea/
Assignment-2/assignment2-commons/target/
Assignment-2/assignment2-commons/assignment2-commons.iml


Assignment-2/project-service/.idea/
Assignment-2/project-service/.mvn/
Assignment-2/project-service/target/
Assignment-2/project-service/HELP

Assignment-2/task-service/.idea/
Assignment-2/taskservice/.mvn/
Assignment-2/task-service/target/
Assignment-2/task-service/HELP


*.txt
.mvn/
mvnw
.md
*.cmd
.iml
.idea/


TextCapitalizer/.settings/
TextCapitalizer/.classpath
TextCapitalizer/.project

ExceptionHandling/.settings/
ExceptionHandling/.classpath
ExceptionHandling/.project

NumberReverser/.settings/
NumberReverser/.classpath
NumberReverser/.project

DesignPatterns/Builder/.settings/
DesignPatterns/Builder/.classpath
DesignPatterns/Builder/.project

DesignPatterns/ChainOfResponsibility/ATMDispenser/.settings/
DesignPatterns/ChainOfResponsibility/ATMDispenser/.classpath
DesignPatterns/ChainOfResponsibility/ATMDispenser/.project

DesignPatterns/Factory/.settings/
DesignPatterns/Factory/.classpath
DesignPatterns/Factory/.project

DesignPatterns/Memento/.settings/
DesignPatterns/Memento/.classpath
DesignPatterns/Memento/.project

DesignPatterns/Prototype/.settings/
DesignPatterns/Prototype/.classpath
DesignPatterns/Prototype/.project

DesignPatterns/Singleton/.settings/
DesignPatterns/Singleton/.classpath
DesignPatterns/Singleton/.project

*.txt


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*