<div class="container" style="border: solid 3px darkgreen"><br />
    <div class="row"  style="text-align: center;">
        <div class="col">
            <img src="assets/visionlogo.png" style="width: 300px; height: 300px; border: solid 3px darkred"/>
        </div>
    </div>
                
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;"><b>Our Vision</b></h1>
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">Towards a Peaceful environment to live with confidence, without fear of Crime and Violence.</h3>
        </div>
    </div><br />

    <div class="row" style="text-align: center;">
        <div class="col">
            <img src="assets/missionlogo.jpg" style="width: 400px; height: 250px; border: solid 3px darkred"/>
        </div>
    </div>
                
           
        
    


    <div class="row">
        <div class="col">
            <h1 style="text-align: center;"><b>Our Mission</b></h1>
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">Sri Lanka Police is committed and confident to uphold and enforce the law of the land, to preserve
                the public order, prevent crime and Terrorism with prejudice to none – equity to all.</h3>
        </div>
    </div><br />

    <div class="row">
        <div class="col">
            <h1 style="text-align: center;"><b>Definition of Police</b></h1>
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">The civil force of a national or local government, responsible for the prevention and detection of
                crime and the maintenance of public order
                (Reference: - Oxford Dictionaries)</h3>
        </div>
    </div><br />

    <div class="row">
        <div class="col">
            <h1 style="text-align: center;"><b>Each letter that makes the word “POLICE” comprises different interpretations.</b></h1>
        </div>
    </div><br />
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">P   -   Politeness</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">O	-	 Obedience</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">L	-	 Loyalty</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">I	-	 Intelligence</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">C	-   Courtesy</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">E	-	 Efficiency</h3>
        </div>
    </div>

</div>