<div class="container" style="border:solid 3px darkred">
    <h3 style="text-align: center;"><u>Purpose Of The System</u></h3><br>
    <h3>Main purpose of this system is to overcome the difficulty issues while issuing the fine statements by police officers and for the drivers who face more obstacles when paying the fine statement by visiting here and there. So this system will be a better place to both police officers and drivers to overcome their difficulties throughout traffic offence process.</h3><br>
    <h2 style="text-align: center;"><u>Former Procedure of Obtaining Fine Receipts and Doing Payments</u> </h2><br>
    <h3><b>Step 1: </b> The Driver breaks a traffic rule(s)</h3>
    <h3><b>Step 2: </b> Police confiscates drivers driving license.</h3>
    <h3><b>Step 3: </b> Police issue a spot fine statement</h3>
    <h3><b>Step 4: </b> Driver goes to office and receives a fine payment form from the traffic division.</h3>
    <h3><b>Step 5: </b> Driver goes to post office and pays fine for which he/she receives a receipt.</h3>
    <h3><b>Step 6: </b>  Driver goes to police station, shows receipt and police return driving license.</h3>
    <h3><b>Note 1: </b> If driver didn’t pay the fine he/she will be submitted to court</h3>
    <h3><b>Note 2: </b> If driver hasn’t driving license. Police issue another permit (police 405- Code of criminal Procedure Section 109(6) Act, No. 15 of 1979).</h3>


<strong><br />
Qualification Criteria</strong><br />
Any driver who has been caught or reported breaking the traffic rules<br />
<br />
<strong>Submission procedure</strong><br />
Case - Driver fined by Police<br />
Police Officer issues a spot fine statement / confiscate his/her <span class="editlinktip hasTip" title="Obtaining a New Driving License"><a href="/gic/index.php/en/component/info/?id=390&amp;task=info&amp;back=0&amp;pid=475">driving license</a></span>.<br />
<br />
<strong>Working Hours</strong><br />
Police Station<br />
24/7/365 days<br />
<br />
Post Office<br />
Monday to Friday <br />
8.00 am. to 3.00 pm<br />
Saturday<br />
8.00am to 1.30 pm<br />
<br />
<strong>Procedure to Acquire Driving License back</strong><br />
At the Police Station<br />
Driver has to visit the Police station and receive a fine receipt from the Traffic Police Division.<br />
<strong>Note:</strong> The driver is supposed to bring the Spot Fine Permit in order to collect a fine receipt from the police station.<br />
<br />
At the Post Office<br />
Driver has to make the payment at the Post Office and collect a paid receipt to <br />
confirm payments made. <br />
<strong>Note: </strong>The spot fine permit is issued to the driver as a temporary license provided that the driver makes the payment within 14 days. If payment is not made the driver is directed to the Court.<br />
<br />
<strong>Handover Procedure</strong><br />
Submit paid receipt to the respective Police Station (Traffic Division) and collect the Driving License
<p><strong>Form Name : </strong><br />
Spot fine Permit&ndash; Form issued by a police officer in lieu of <span class="editlinktip hasTip" title="Obtaining a New Driving License"><a href="/gic/index.php/en/component/info/?id=390&amp;task=info&amp;back=0&amp;pid=475">driving license</a></span> ( <span class="editlinktip hasTip" title="Note&lt;br/&gt;This is the specimen form.&lt;br/&gt;Click Here to View Details"><a href="/gic/pdf/" target="_blank">M.T.A 37</a></span> )<br />
Fine Receipt &ndash; Fine in lieu of prosecution<br />
<br />
<strong>Application Forms</strong><br />
There are no application forms to be filled in by the public but the Police Officer (Traffic Division ) issues the following receipts to the public.<br />
Form issued by a police officer in lieu of <span class="editlinktip hasTip" title="Obtaining a New Driving License"><a href="/gic/index.php/en/component/info/?id=390&amp;task=info&amp;back=0&amp;pid=475">driving license</a></span>.<br />
<b>Note : </b>If the driver doesn&rsquo;t have a <span class="editlinktip hasTip" title="Obtaining a New Driving License"><a href="/gic/index.php/en/component/info/?id=390&amp;task=info&amp;back=0&amp;pid=475">driving license</a></span> at the time he is issued a fine statement the police issues him/her a Police 405 receipt ( <span class="editlinktip hasTip" title="Note&lt;br/&gt;This is the specimen form.&lt;br/&gt;Click Here to View Details"><a href="/gic/pdf/" target="_blank">DOP 405</a></span> ).<br />
<br />
<br />
<strong>Time line</strong></p>
<p><strong>Process Time Line </strong><br />
Depends on the day payment is made<br />
<br />
<strong>Validity Time Line </strong><br />
For temporary permit license 14 days<br />
<br />
<strong>Working Hours</strong><br />
Police Station &ndash; 24 / 7 / 365 days<br />
<br />
<strong>Costs related to the service</strong><br />
Penalties- Available in &lsquo;fines of prosecution&rsquo; document - form Police 397 ( <span class="editlinktip hasTip" title="Note&lt;br/&gt;This is the specimen form.&lt;br/&gt;Click Here to View Details"><a href="/gic/pdf/" target="_blank">DOP F397</a></span> )<br />
<br />
<strong>Support documents required</strong><br />
Driver&rsquo;s <span class="editlinktip hasTip" title="Obtaining a New Driving License"><a href="/gic/index.php/en/component/info/?id=390&amp;task=info&amp;back=0&amp;pid=475">driving license</a></span> is required at the time when the police officer issues a spot fine.<br />
<br />
<strong>Service responsibility matrix</strong><br />
Officer In Charge ( OIC ) - Of the Traffic branch of the police station<br />
Officer In Charge ( OIC ) - Of the police station<br />
<br />
<strong>Special Cases </strong><br />
Not applicable for this service<br />
<br />
<strong>Sample form with dummy data </strong><br />
Not provided by the Police Station due to confidential Information</p><br/><table><tr><td></td><h4>Organization Information</h4>Department of Police<br/><p>Police Head Quarters,  <br />
Colombo 01.</p>

    

